body{
    background-color:black;
}
.body_header{
    background-color:rgb(23, 23, 23);
    margin: 0 auto;
    width: 1284.5px;
}
.body_chest{
    background-color:rgb(9, 9, 9);
    margin: 0 auto;
    width: 1284.5px;
}
.body_footer{
    background-color:rgb(1, 1, 1);
    margin: 0 auto;
    width: 1284.5px;
}
canvas{
background-color: aliceblue;
width: 1000;
height: 1000;
}